{% capture item %} 
  {% if include.text %}
    {{ include.text | strip }}
  {% endif %}
  {% if include.tag %}
    {{ include.tag | first | strip }}
  {% endif %} 
{% endcapture %}

{% assign _tag = item | strip %}
{% for currentTag in site.tags %}
  {% if currentTag.first == _tag %}
    {% assign count = currentTag | last | size %}
  {% endif %}
{% endfor %}

<span 
  class="tag tag-chip btn-route"
  path="/tags#{{ item | strip }}"
  title="{% if item.size > 30 %}{{ item | strip }}{% endif %}"
>
  <span class="label">
      {{ item | strip }}
  </span>
  {% if include.count == true %}
  <span class="count">{{ count }}</span>
  {% endif %}
</span>
