.page-tags {
  .summary {
    padding: 16px;
    margin-bottom: 32px;
    h5 {
      margin-left: 8px;
      margin-bottom: 16px;
    }

    .item {
      display: inline-block;
      margin-right: 8px;
    }
  }

  .details {
    position: relative;
    padding: 0px 0px 16px 0px;
    margin-bottom: 16px;
    .actions {
      position: absolute;
      top: 16px;
      right: 16px;
      z-index: 1;
      > * {
        border: 1px solid $gray-300;
        border-radius: 4px;
        padding: 4px;
        user-select: none;
        cursor: pointer;
        color: $gray-800;
      }
    }

    .item.highlighting {
      border-color: $primary-hazy;
    }
    .item {
      box-sizing: border-box;
      border-left: 12px solid;
      transition: border-color 0.8s ease-out;
      border-color: transparent;
      padding-top: 24px;
      padding-left: 4px;
      padding-right: 16px;

      .tag-list-title {
        position: relative;
        text-transform: uppercase;
        cursor: pointer;
        margin-bottom: 4px;
        width: fit-content;
        .target {
          position: absolute;
          top: -250px;
          scroll-behavior: smooth;
        }
        .collapse-icon {
          transition: transform 0.3s;
          transform: rotate(-90deg);
        }

        &.collapsed {
          .collapse-icon {
            transition: transform 0.3s;
            transform: rotate(-180deg);
          }
        }
      }

      .tag-post-list {
        overflow: hidden;
        transition: height 0.3s;

        .list-wrapper {
          padding: 8px;
          @media only screen and (max-width: 767px) {
            padding: 0px;
            padding-top: 8px;
            padding-bottom: 8px;
          }
        }
      }
      .tag-post-list.collapsed {
        padding-top: 0px;
        transition: height 0.3s;
      }
      .post {
        margin-left: 8px;
        width: fit-content;
        display: flex;
        align-items: center;
        span.i {
          padding: 0;
          width: 5px;
          height: 5px;
          background-color: $gray-600;
          border-radius: 50%;
          overflow: hidden;
        }
        &:hover {
          color: $primary;
        }
        .title {
          font-size: 15px;
        }
        .subtitle {
          font-size: 13px;
        }
      }
      hr {
        margin: 0px;
        margin-top: 12px;
      }
    }
  }
}
