.page-posts {
  display: flex;
  flex-wrap: nowrap;

  .section {
    margin: 8px;
    @media only screen and (max-width: 767px) {
      margin: 0px;
    }
  }
  .posts {
    flex-grow: 1;
  }

  .right {
    width: 20%;
    min-width: 250px;
    max-width: 350px;
    min-height: 300px;
    border: 1px solid $gray-300;
    background-color: white;
    padding: 16px;
    align-self: flex-start;
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}
