span.tag.label {
  display: inline-block;
  color: $primary;
  background-color: $gray-100;
  border: 1px solid $gray-200;
  border-radius: 3px;
  font-size: 0.8rem;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  overflow: hidden;
  max-width: 100%;
  padding: 2px 4px;
  cursor: pointer;
  // @include transition-all;

  &:focus,
  &:hover {
    color: $gray-100;
    background-color: $primary;
    text-decoration: none;
  }
}
span.tag.label:not(:last-child) {
  margin-right: 4px;
}
