span.tag {
  display: inline-flex;
  color: $primary;
  background-color: $gray-100;
  border: 1px solid $gray-200;
  border-radius: 3px;
  font-size: 0.8rem;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  max-width: 200px;
  cursor: pointer;
  // @include transition-all;

  &:focus,
  &:hover {
    color: $gray-100;
    background-color: $primary;
    text-decoration: none;
    .count {
      color: inherit;
      background-color: #ffab10;
    }
  }

  .label {
    display: inline-block;
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 3px 6px;
  }
  .label.with-count {
    padding-right: 3px;
  }

  .count {
    display: inline-block;
    padding: 3px 6px;
    color: $gray-800;
    background-color: #fdd385;
  }
}
span.tag:not(:last-child) {
  margin-right: 4px;
  margin-bottom: 4px;
}
