span.tag.label {
  color: $primary;
  background-color: $gray-200;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 2px 4px;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
  @include transition-all;

  &:focus,
  &:hover {
    color: $primary-light;
    background-color: $gray-300;
    text-decoration: none;
  }
}
span.tag.label:not(:last-child) {
  margin-right: 8px;
}
